@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
  width: 300px;
  z-index: -1;
}
body {
  background-color: #f7f7fc;
  font-family: "Poppins", sans-serif;
}
.input {
  margin: 10px 0;
}
